<template>
  <v-container fluid grid-list-lg>
    <div style="text-align: center">
      <h3>Task2</h3>
    </div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-layout row wrap>
        <v-flex xs8>
          <v-text-field
            v-model.number="subject"
            type="number"
            min="1"
            required
            label="Enter Number"
            :rules="[
              (v) => !!v || 'Number is required',
              (v) => v > 0  || 'Number must greater then 1',
            ]"
          ></v-text-field>
        </v-flex>
        <v-flex xs2>
          <v-btn :disabled="!valid" class="primary" @click="check_number">
            Check
          </v-btn>
        </v-flex>
      </v-layout>
    </v-form>
    <v-flex xs12>
      <br />
      <v-card>
        <v-toolbar card dark color="primary">
          <v-toolbar-title>Your Result Here </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <p v-if="subject">
            <b>{{ result }} </b>
          </p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-container>
</template>
<script>
export default {
  watch: {
    subject: function () {
      this.result = "";
    },
  },
  name: "revenueReportExcelBase",

  data() {
    return {
      valid: true,

      subject: 1,
      result: "",
    };
  },
  methods: {
    check_number() {
        this.result =
          this.subject % 7 == 0 && this.subject % 3 == 0
            ? "World ABC"
            : this.subject % 7 === 0
            ? "World"
            : this.subject % 3 === 0
            ? "ABC"
            : "Not divisible by 7 or 3";
      }
  },
};
</script>

