<template>
  <v-container fluid grid-list-lg>
    <div style="text-align: center">
      <h3>Task3</h3>
    </div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-layout row wrap>
        <v-flex xs3>
          <v-text-field
            v-model="name"
            :counter="10"
            :rules="nameRules"
            label="First Name*"
            required
          ></v-text-field>
        </v-flex>
        <v-flex xs3>
          <v-text-field
            v-model="lname"
            :counter="10"
            :rules="lnameRules"
            label="Last Name*"
            required
          ></v-text-field>
        </v-flex>

        <v-flex xs3>
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail*"
            required
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-card-actions>
      <v-spacer>
      </v-spacer>
      <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
        Add
      </v-btn>

      <v-btn color="error" class="mr-4" @click="reset"> Reset </v-btn>

</v-card-actions>     
 <!-- <v-btn
      color="warning"
      @click="resetValidation"
    >
      Reset Validation
    </v-btn> -->
    </v-form>
    <v-flex xs12>
      <br />
      <v-card>
        <v-toolbar card dark color="primary">
          <v-toolbar-title>Your Result Here </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
            <v-container fluid>
      <v-row dense v-if="result.length>0">
        <v-col
          v-for="(item,index) in result"
          :key="index"
          cols="3"
        >
          <v-card color="#315059" style="color:white">
           <div class="d-flex flex-no-wrap justify-space-between" >
              <div>
                <v-card-title
                  class="text-h5"
                > No : {{index+1 }} <v-card-actions>
                  <v-spacer>
                                    
                              
                  </v-spacer>
                  <v-btn  slot="activator"
                        @click="remove_item(index)"
                        color="#FF414D" flat icon>
                                            <v-icon>delete</v-icon>
                                        </v-btn>   
                  </v-card-actions>
                </v-card-title>

                <v-card-text style="color:white"  >  User Email : {{item.fname }} </v-card-text>
                <v-card-text  style="color:white" > Last Name : {{item.lname }} </v-card-text>
                <v-card-text style="color:white"> User Email : {{item.email }} </v-card-text>
              </div>
              </div>
          </v-card>
        </v-col>
      </v-row>
      <p v-if="result.length===0"> No Data . </p> 
    </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-container>
</template>
<script>
export default {
  watch: {
    subject: function () {
      this.result = "";
    },
  },
  name: "revenueReportExcelBase",

  data() {
    return {
      valid: true,
      name: "",
      result:[],
      nameRules: [
        (v) => !!v || "First Name is required",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
      lname: "",
      lnameRules: [
        (v) => !!v || "Last Name is required",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
      email: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
    };
  },
  methods: {
    validate() {
      console.log(this.$refs.form.validate())
            if(this.$refs.form.validate() === true){

            
            this.result.push({"fname":this.name,"lname":this.lname,"email":this.email})
                  this.$refs.form.reset();

              this.$refs.form.resetValidation();    
                    alert("Added Successfully")
                    }else{
                      alert("Fill all required fields (*)")
                    }
    },
    reset() {
                        this.$refs.form.reset();

    },
    remove_item(index){
      this.$nextTick(() => {
      this.result.splice(index, 1);


      })

    }
    // check_number(){
    //     if(typeof(this.subject) === "number"){

    //     }else{
    //       alert("Please Enter Number")
    //     }
    // }
  },
};
</script>

