<template>
  <v-container fluid grid-list-lg>
    <div style="text-align: center">
      <h3>Task1</h3>
    </div>
    <v-layout row wrap>
      <v-flex xs8>
        <v-textarea
          v-model.trim="subject"
          label="Type Here"
          rows="3"
          required
        ></v-textarea>
      </v-flex>
    </v-layout>
    <v-flex xs12>
      <br />
      <v-card>
        <v-toolbar card dark color="primary">
          <v-toolbar-title>Your Result Here </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <p v-if="subject">
            <b>{{ subject }} </b>
          </p>
          <p v-else>No Result Type Something ...</p>
        </v-card-text>
      </v-card>
      <!-- <pre> Your Result Here </pre>
        <div style="text-align:center;background:lightgrey">
         
        </div> -->
    </v-flex>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",

  data: () => ({
    subject: "",
    check: false,
  }),
};
</script>
