<template>
  <v-app style="background:#ececec"> 
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <!-- <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        /> -->
      </div>

      <v-spacer></v-spacer>

      <v-btn
      text
        @click="$router.push('/')"
      >
        <span class="mr-2">task1</span>
      </v-btn>
      <v-btn
            text

                @click="$router.push('/task2')"

      >
        <span class="mr-2">task2</span>
      </v-btn>
      <v-btn
            text

                       @click="$router.push('/task3')"

      >
        <span class="mr-2">task3</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
